:root{
    --cellSize:2.5rem;
    --board-size:19;
    /*TODO rendre plus tard lus couleurs gérables par les joueurs */
    --colorPlayer0:rgb(255, 2, 2);
    --colorPlayer1:rgb(255, 217, 2);
    --stonePlayer0:url("/img/stone.svg");
    --stonePlayer1:url("/img/stone2.svg");
    --stonePlayer2:url("/img/stone3.svg");
}
/* .game-container {

} */
.header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.board {
margin: 0;
    width: calc(var(--cellSize)*var(--board-size));
    border: solid .5rem rgb(48, 77, 109) ;
    background-color:rgb(255, 230, 147);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5),-1px -1px 1px rgb(53, 110, 114);
}
.game_table{
    background-color: rgb(34, 44, 75);
    padding: 0 2rem 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items:center ;
    justify-content: space-evenly;
}

.board__row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.player_board{
padding: .5rem 1rem;
background-color: cadetblue;
flex-basis:30%;
margin: 1rem 0;
box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
border-radius: 16px;
color: white;
font-weight: 500;
}
.board__cell {
    position: relative;
    display:flex ;
    align-items: center;
    justify-content: center;
    width: var(--cellSize);
    height:var(--cellSize);
    /* background-position: center,center;
    background-size:3px,100%  ;
    background-repeat:repeat-x,repeat ; */
    
    /* background-color: gray,rgb(255, 230, 147);
    background-position: center,center;
    background-size:3px,100%  ;
    background-repeat:repeat-x,repeat ; */

}
.board__cell:hover{
    opacity: 50%;
    background-image:var(--stonePlayer2);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    outline: 5px 5px rgba(0, 0, 0, 0.4);
}
.cell__line{
background-color: gray;
position: absolute;
height: 100%;
width: 100%;
--line:calc(50% - .1rem/2);
}

.cell__line--v{
    width:.1rem;
    left:var(--line);
}
.cell__line--h{
    height:.1rem;
    top:var(--line);
}
.stone{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image:var(--stonePlayer0);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;

}
.stone--j0{
    background-image:var(--stonePlayer0);
}
.stone--j1{
    background-image:var(--stonePlayer1);
}
.hidden{
    display:none;
}

